<thead>
    <tr class="filters">
        <th><input type="text" class="form-control" placeholder="#" disabled></th>
        <th><input type="text" class="form-control" placeholder="billnumber" disabled></th>
        <th><input type="text" class="form-control" placeholder="payer" disabled></th>
        <th><input type="text" class="form-control" placeholder="created accountant" disabled></th>
        <th><input type="text" class="form-control" placeholder="more details" disabled></th>
        <th><input type="text" class="form-control" placeholder="tax amount" disabled></th>
        <th><input type="text" class="form-control" placeholder="duedate" disabled></th>
        <th><input type="text" class="form-control" placeholder="status" disabled></th>
    </tr>
</thead>